<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/account">Cuenta</a></li>
        <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
    </ol>
</nav>
<div class="row mb-3 animate__animated animate__fadeIn">
    <div class="col-12">
        <app-buscador [placeholder]="'Buscar usuario'"></app-buscador>
    </div>
</div>
<div class="row animate fadeIn fast mt-4" *ngIf="cargando">
    <div class="col-12">
        <div class=" alert alert-info text-center" role="alert">
            <h4 class="alert-heading">Cargando</h4>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>
<div class="row animate__animated animate__fadeIn" *ngIf="!cargando">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4>Lista de usuarios</h4>
                    </div>
                </div>
                <table class="table table-bordered text-center">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre de usuario</th>
                            <th scope="col">Nombre completo</th>
                            <th scope="col">Correo electrónico</th>
                            <th scope="col">Administrador</th>
                            <th scope="col">Activo</th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>{{usuario.username}}</td>
                            <td>
                                <span *ngIf="usuario.first_name">{{usuario.first_name}} {{usuario.last_name}}</span>
                                <span *ngIf="!usuario.first_name" class="text-danger">El usuario no ha completado sus datos</span>
                            </td>
                            <td>{{usuario.email}}</td>
                            <td>
                                <i *ngIf="usuario.is_superuser" class="fas fa-check"></i>
                                <i *ngIf="!usuario.is_superuser" class="fas fa-times"></i>
                            </td>
                            <td>
                                <i *ngIf="usuario.is_active" class="fas fa-check"></i>
                                <i *ngIf="!usuario.is_active" class="fas fa-times"></i>
                            </td>
                            <td class="text-center">
                                <a class="cursor m-1" (click)="desactivarUsuario(usuario)" data-toggle="tooltip" data-placement="top" [title]="usuario.is_active?'Desactivar':'Activar'">
                                    <i class="fas" [ngClass]="{'fa-lock-open':usuario.is_active,'fa-lock':!usuario.is_active}"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <app-pagination (mandarData)="cargaDataPaginacion($event)" [nextPage]="nextPage" [previousPage]="previousPage"></app-pagination>
                </div>
            </div>
        </div>

    </div>
</div>