<div class="animate__animated animate__fadeIn" style="margin-left: 8%; margin-right: 8%;">
    <h3 class="text-center">Panel de administración - {{usuario.first_name | uppercase}}</h3>
    <hr>
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card list-group-item-action cursor h-100">
                <div class="card-body" (click)="navegarModulo('empresas')">
                    <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-4">
                            <img src="../../../assets/icons/empresa.png" style="max-width: 100%;" alt="">
                        </div>
                        <div class="col-sm-9 col-md-6 col-lg-8">
                            <h5>Empresas</h5>
                            <p class="descripcion">Configuración de las empresas turísticas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card list-group-item-action cursor h-100">
                <div class="card-body" (click)="navegarModulo('paquetes')">
                    <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-4">
                            <img src="../../../assets/icons/viajes.png" style="max-width: 100%;" alt="">
                        </div>
                        <div class="col-sm-9 col-md-6 col-lg-8">
                            <h5>Paquetes turísticos</h5>
                            <p class="descripcion">Crear, editar y eliminar paquetes de las empresas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card list-group-item-action cursor h-100">
                <div class="card-body" (click)="navegarModulo('ventas')">
                    <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-4">
                            <img src="../../../assets/icons/ventas.png" style="max-width: 100%;" alt="">
                        </div>
                        <div class="col-sm-9 col-md-6 col-lg-8">
                            <h5>Ventas</h5>
                            <p class="descripcion">Ver la cantidad de ventas realizadas de cualquier fecha</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card list-group-item-action cursor h-100">
                <div class="card-body" (click)="navegarModulo('usuarios')">
                    <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-4">
                            <img src="../../../assets/icons/cliente.png" style="max-width: 100%;" alt="">
                        </div>
                        <div class="col-sm-9 col-md-6 col-lg-8">
                            <h5>Usuarios</h5>
                            <p class="descripcion">Administrar usuarios del sistema</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card list-group-item-action cursor h-100">
                <div class="card-body" (click)="navegarModulo('perfil')">
                    <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-4">
                            <img src="../../../assets/icons/configuraciones.png" style="max-width: 100%;" alt="">
                        </div>
                        <div class="col-sm-9 col-md-6 col-lg-8">
                            <h5>Perfil</h5>
                            <p class="descripcion">Configurar información de la cuenta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>